body{
    background-color: antiquewhite;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.highlight{
    background-color: beige;
    text-decoration: underline;
}
ul, ol{
    display: inline-block;
    text-align: left;
}
h1.highlight{
    text-decoration: none;
    color: rgb(136, 134, 1);
}